
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="row grid-responsive">
    <div class="column ">
        <div class="card">
            <div class="card-title">
                <h3>Add Material</h3>
            </div>
            <div class="card-block">
                <form>
                    <fieldset>
                        <label for="nameField">Name</label>
                        <input type="text" placeholder="..." id="Name" name="Name">
                        <label for="ageRangeField">Type</label>
                        <input type="text" placeholder="..." id="Type" name="Type">
                        <label for="ageRangeField">Amount Total</label>
                        <input type="text" placeholder="..." id="AmountTotal" name="AmountTotal">
                        <label for="commentField">Comment</label>
                        <textarea placeholder="..." id="Name" name="Name"></textarea>
                        @*<input class="button-primary" type="submit" value="Add">*@
                        <input type="button" class="btn btn-gradient-success " value="Cancel" onclick="GoBack()" />
                        @*<input class="button-primary" type="submit" value="Cancel">*@
                        <input type="button" class="btn btn-gradient-success " value="Cancel" onclick="GoBack()" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function GoBack() {
        window.location.href = "/Ingredients/ViewIngredients"
    }

    $(document).ready(function () {
        $(function () {
            $('#btnSaveChange').click(function () {
                var data = {
                    Name: $('#Name').val(),
                    Type: $('#Type').val(),
                    AmountTotal: $('#AmountTotal').val(),
                };
                $.ajax({
                    type: "POST",
                    url: "//Ingredients/AddIngredients",
                    data: data,
                    success: function (data) {
                        //GoBack();
                        alert('Success!')
                        location.reload();
                    },
                    error: function () {
                        alert('Fail!')
                    }
                })
            });
        });
    });
</script>