
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomerManagement</title>
</head>
<body>
    <div>
        hello
    </div>
</body>
</html>
