table, th, td {
    border-radius: 30px;
}

.header-style {
    background-color: white;
    padding-bottom: 20px;
    border-radius: 30px;
}

.items-style {
    height: 100px;
    background-color: white;
    border-top: 20px solid #F5F5F5;
    border-bottom: 15px solid #F5F5F5;
    border-radius: 30px;
}
.background-items {
    background-color: aquamarine;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.background-table {
    background-color: aquamarine;
}

.styled-table {
    border-collapse: collapse;
    border-radius: 30px;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}



    .styled-table th,
    .styled-table td {
        color: black;
        padding: 12px 15px;
        border-radius: 30px;
    }



    .styled-table tbody tr:nth-of-type(even) {
        background-color: white;
        border-radius: 30px;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid lightgrey;
        border-radius: 30px;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
        border-radius: 30px;
    }
