<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>HTML5 Admin Template</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/_Layout/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/_Layout/css/normalize.css">
    <link rel="stylesheet" href="~/Content/_Layout/css/milligram.min.css">
    <link rel="stylesheet" href="~/Content/_Layout/css/styles.css">
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="~/Content/Table/Table.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>

<body>
    <div class="navbar">
        <div class="row">
            @*<div class="column column-40 col-search" style="padding-left:30px">
                <a href="#" class="search-btn fa fa-search"></a>
                <input type="text" name="" value="" placeholder="Search..." />
            </div>*@
            <div class="column column-30">
                <div class="user-section">
                    <a href="#">
                        <img src="https://axcelavietnam.com/wp-content/uploads/2020/04/the-big-picture-la-tu-vung-duoc-su-dung-pho-bien-trong-tieng-anh-thuong-mai.jpg" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">
                        <div class="username">
                            @if (Session["Name"] == null)
                            {
                                
                            }
                            else
                            {
                            <h4>@Session["Name"].ToString()</h4>
                            }
                            
                            <p id="LogOut">Logout</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="sidebar" class="column">

            <img src="~/Content/_Layout/css/images/cflogo.png" 
                 style="margin-left:25%" width="50%"/>
            <ul>
                <li><a href="~/Statistic/Index"><em class="fa fa-bar-chart"></em>Statistic</a></li>
                @*<li><a href="~/Home/EmployeeManagement"><em class="fa fa-home"></em> Dashboard</a></li>*@
                <li><a href="~/HistoryTracking/IndexOfHistoryTracking"><em class="fa fa-percent"></em> History tracking management</a></li>
                <li><a href="~/Employee/ViewEmployee"><em class="fa fa-address-book"></em> Employee management</a></li>

                <li><a href="~/Material/MaterialManagement"><em class="fa fa-archive"></em> Material management</a></li>
                <li><a href="~/FoodManagement/FoodManagement"><em class="fa fa-cutlery"></em> Food management</a></li>

                <li><a href="~/VoucherManagement/VoucherManagement"><em class="fa fa-percent"></em> Voucher management</a></li>
                @*<li><a href="~/Account/AccountManagement"><em class="fa fa-address-card"></em> Account management</a></li>*@
            </ul>
        </div>
        <section id="main-content" class="column column-offset-20">
            <div class="row grid-responsive">
                @RenderBody()
            </div>
        </section>
    </div>
    <script src="~/Content/_Layout/js/chart.min.js"></script>
    <script src="~/Content/_Layout/js/chart-data.js"></script>
    <script>
        window.onload = function () {
            var chart1 = document.getElementById("line-chart").getContext("2d");
            window.myLine = new Chart(chart1).Line(lineChartData, {
                responsive: true,
                scaleLineColor: "rgba(0,0,0,.2)",
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleFontColor: "#c5c7cc"
            });
            var chart2 = document.getElementById("bar-chart").getContext("2d");
            window.myBar = new Chart(chart2).Bar(barChartData, {
                responsive: true,
                scaleLineColor: "rgba(0,0,0,.2)",
                scaleGridLineColor: "rgba(0,0,0,.05)",
                scaleFontColor: "#c5c7cc"
            });
            var chart4 = document.getElementById("pie-chart").getContext("2d");
            window.myPie = new Chart(chart4).Pie(pieData, {
                responsive: true,
                segmentShowStroke: false
            });
            var chart5 = document.getElementById("radar-chart").getContext("2d");
            window.myRadarChart = new Chart(chart5).Radar(radarData, {
                responsive: true,
                scaleLineColor: "rgba(0,0,0,.05)",
                angleLineColor: "rgba(0,0,0,.2)"
            });
            var chart6 = document.getElementById("polar-area-chart").getContext("2d");
            window.myPolarAreaChart = new Chart(chart6).PolarArea(polarData, {
                responsive: true,
                scaleLineColor: "rgba(0,0,0,.2)",
                segmentShowStroke: false
            });
        };

        document.getElementById("LogOut").onclick = function () { myFunction() };

        function myFunction() {
            var url = '@Url.Action("Logout", "Home")';
            window.location.href = url;
        }

        function Redirect() {
            var url = '@Url.Action("Login", "Home")';
            window.location.href = url;
        }
    </script>

</body>
</html> 