
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="row">
    <div class="column">
        <a class="button" href="#">Sales</a>
        <a class="button" href="#">History Tracking</a>
        <a class="button" href="#">Recipt Tracking</a>
        <a class="button" href="#">Tables Tracking</a>
    </div>    
</div>
